/* ------------ FlexBox Mixin ------------*/

@mixin flexbox($display: flex, $direction: unset, $justify: unset, $align: unset, $wrap: unset, $gap: unset) {
    display: $display;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
    flex-wrap: $wrap;
	gap: $gap;
}

/* ------------ Responsive Mixin ------------*/

// Source : https://css-tricks.com/snippets/sass/mixin-manage-breakpoints/

$breakpoints: (
	"phone": 767px,
	"desktop": 992px
) !default;

@mixin responsive($breakpoint, $type: "min") {
	@if map-has-key($breakpoints, $breakpoint) {
		@if $type == "min" {
			@media (min-width: map-get($breakpoints, $breakpoint)) {
				@content;
			}
		} @else if $type == "max" {
			@media (max-width: map-get($breakpoints, $breakpoint)) {
				@content;
			}
		}
	}
}

/* ------------ TextSize and Weight Mixin ------------*/

@mixin text($fontSize: 0px, $fontWeight: 0) {
	font-size: $fontSize;
	font-weight: $fontWeight;
}