nav {
    padding: 0 20px 0;
    height: 63px;    

    display: flex;
    align-items: center;
    justify-content: space-between;

    img:last-child {
        width: 162px;
        height: 44px;
    }

    img:hover {
        cursor: pointer;
    }

    @include responsive("desktop") {
        height: 96px;

        img {
            width: 200px;
            height: 34.2px;
        }
    }
}